.ts-head {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bolder;
    color: black;
}
.ts-cont{
    margin: 45px;
}

@media screen and (max-width: 576px){
    .ts-head{
        font-size: 25px;
    }
    .ts-cont{
        margin: 25px;
    }
}